In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv(r"D:\Data science file\spotify_history.csv")
df.describe(include= "all")

,spotify_track_uri,ts,platform,ms_played,track_name,artist_name,album_name,reason_start,reason_end,shuffle,skipped
count,149860,149860,149860,1.498600e+05,149860,149860,149860,149717,149743,149860,149860
unique,16527,140422,6,NaN,13839,4113,7948,13,15,2,2
top,1BLOVHYYlH4JUHQGcpt75R,2018-09-30 21:43:18,android,NaN,Ode To The Mets,The Beatles,The Beatles,trackdone,trackdone,True,False
freq,207,125,139821,NaN,207,13621,2063,76655,77194,111583,141991
mean,NaN,NaN,NaN,1.283166e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,1.178401e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2.795000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,1.388400e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2.185070e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,1.561125e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN